@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right , #9796f0,#fbc7d4)
}
.heading{
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.contaier{
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.contaier .form{
    margin-top: 20px;
    width: 450px;
    height: 500px;
    background: rgba(255, 255, 255, .10);
    padding: 50px;
    border-radius: 10px;
    position: relative;
}
.contaier .form::before{
    content: '';
    position: absolute;
    background:rgba(255, 255, 255, .15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
    border-radius: 10px;

}
.contaier .form input{
    margin-top: 30px;
    width: 370px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid transparent;
    outline: none;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}
.contaier .form input:focus{
    border: 1px solid #9796f0;
}
.contaier .form textarea{
    width: 370px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid transparent;
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.6);
}
.contaier .form textarea:focus{
    border: 1px solid #9796f0;
    
}
.btn span{
    font-size: 20px;
    margin-right: 5px;
}
.contaier .form .btn button {
    margin-top: -20px;
    background-color: transparent;
    border: none;
    outline: none;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 2px;
    color: rgb(0, 0, 0);
    font-size:32px;
}
.submit{
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
    background-color: #9796f0;
    color: white;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 10px;
}
.submit:hover{
    background-color: #8280df;
}
.previous{
    margin-top: 50px;
    text-align: center;
}
.previous .head{
    background-color: rgba(255, 255, 255, 0.603);
    margin: auto;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
.previous span{
    font-size: 25px;
    text-transform: capitalize;
    color: black;
    font-weight: 600;
}
.previous .con{
    margin-top: 20px;
}
.previous .con span{
    font-size: 20px;
    margin-right: 10px;
}
.previous .con i{
    margin-right: 5px;
    font-size: 18px;
    color:#000000;
}

#review_list {
    display:flex;
    flex-wrap: wrap;
}
#timedrpact
{
    border-radius: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.493);
    padding: 20px;
    margin:50px;
    box-sizing: border-box;
    height:170px;
    width:400px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#name_style
{
    font-size:16px;
    text-transform:capitalize;  
    width:180px;
    font-weight: 800;

}
#timedrpact_inner
{
    height:60px;
    display: flex;
}

 #timedrpact_inner  img{
    height:26px;
    width:146px;
    padding-left: 50px;
    margin-top: -10px;
    /* object-fit: cover; */
}
@media (max-width:1199px){
    #review_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #timedrpact{
        margin: 20px;
    }
}
@media (max-width:799px){
    .heading h1{
        font-size: 32px;
    }
    .contaier .form {
        margin-top: 20px;
        width: 450px;
        height: 500px;
        background: rgba(255, 255, 255, .10);
        padding: 50px;
        border-radius: 10px;
        position: relative;
    }
}
@media (max-width:600px){
    .heading h1{
        font-size: 28px;
    }
    .contaier .form {
        margin-top: 20px;
        width: 400px;
        height: 500px;
        background: rgba(255, 255, 255, .10);
        padding: 50px;
        border-radius: 10px;
        position: relative;
    }
    .contaier .form input {
        width: 350px;
    }
    .contaier .form textarea {
        width: 350px;
    }
    .previous .head {
        width: 380px;
        margin-bottom: 20px;
       
    }
}